#headingOne {
    /*margin: auto;
    width: 25%;*/
}
#spanProject {

}
#developersDiv{
    /*margin: auto;
    width: 20%;*/
}

#liste {
    list-style-type: none;
    padding: 0;
    font-weight: bold;

}
body {
    font-size: 17px;
    font-family: "Proxima Nova", "Times New Roman", "sans-serif";
    line-height: 150%;
    /*margin: auto;
    text-align: center;*/
}
/*#problems {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}*/
#problemsList {
    text-align: left;
    margin: auto;
    margin-bottom: 10px;
    width: 25%;
    list-style-type: none;
}
p {
    margin: auto;
    width: 500px;
}
#page {
    margin: auto;
    width: 600px;
    background-color: antiquewhite;
    text-align: center;
    padding: 5px;
}
#page:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 5px solid #ffea00;
}