
body {
    background-image: url("../images/beerpattern3.jpg");
}

.navt {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 80%;
    position:relative;

    background-image: url("../images/testbackground.png");

}
.navt li {

    display: inline;
    text-decoration: none;

}
.navt a {

    display: inline-block;
    /*padding: 0 12px;*/
    font-weight: normal;
    font-size: 1.2vw;
    color: white;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    /*padding: 14px 16px;*/
    padding: 14px 1vw;
    font-family:Apple Chancery, sans-serif;
}
.navt li a:hover {
    color: white;
    background-color: pink;
}
.navt img {
    vertical-align: middle;
}

#logo{

    max-height:200px;
    width: auto;
}