/*
FILE NAME: style.css
WRITTEN BY: Sander Bjerklund Lindberg, Filip Østervold Tangen, Marcus Tiedemann Økland Henriksbø, Peder Lexau
WHEN: November 2017
PURPOSE: Style the page and make it functional
 */

* {
    outline:1px solid orange;
}
.fa-2x {
    font-size: 2em;
}
.fa-bars:before {
    content: "\f0c9";
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 400%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1200px) {
    nav .navWide {
        display: none;
    }

    #oel {
        display: none !important;

    }

    .align-left, .align-right {
        display: none !important;
    }

    .sectionDesign{
        zoom: 200%;
    }

    nav .navNarrow {
        display: block;
        width: 100%;
    }
    .content {
        position: relative;
        font-size: 170%;
        zoom: 0.5;
    }
    #footer{
        display: none !important;
    }
}
.navNarrow {
    display: none;
}

nav {
    overflow: hidden;
    background: rgba(251, 249, 255, 1);
}

nav a {
    font-family: "Century Gothic", sans-serif;
    display: inline-block;
    padding: 0 12px;
    color: black;
    text-decoration: double;
    line-height: 350%;
    border-bottom: 5px solid transparent;
}

nav a:visited {
    color: #000;
}

nav .navWide {
    margin: 0;
    padding: 0;
    float: right;
    width: 70%;
    text-align: right;
}

nav .navWide .wideDiv {
    text-align: right;
}

nav .navWide .wideDiv a {
    text-decoration: none;
    display: inline-block;
    /*Adjust padding to increase/decrease the space between links.*/
    margin-right: 2%;
}

/*Navbar is set to default with the "hamburger" and links on the left
side of the screen. To move to the right of the screen, simply
change the three "float: Left;" references to read "float: right;".*/
/*nav	.navNarrow i {
    float: left;
    cursor: pointer;
    color: #000;
}*/
nav .navNarrow .narrowLinks a {
    text-decoration: none;
    display: block;
    float: center;
    clear: left;
    padding: 0.5em 0;
}

.hidden {
    display: none;
}
@media only screen and (max-width: 1200px){
    *{
        font-size: 100%;
        padding: 0;
        margin: 0;
    }
    /*.navt li{
        padding: 0;
        margin: 0;
        display: inline;

    }
    .navt a{
        display: block;
        text-decoration: none;
        width: 50%;
    }
    .navt {
        display: inline-block;
        width: auto;
    }*/
    #oelbilde{
        display: none;
    }
    #oel::after{
        display: none;
    }
    .align-left, .align-right{
        display: none !important;
    }
    nav {
        overflow: hidden;
        background: rgba(251, 249, 255, 1);
    }

    nav a {
        font-family: "Century Gothic", sans-serif;
        display: inline-block;
        padding: 0 12px;
        color: black;
        text-decoration: double;
        line-height: 350%;
        border-bottom: 5px solid transparent;
    }

    nav a:visited {
        color: #000;
    }

    nav .navWide {
        margin: 0;
        padding: 0;
        float: right;
        width: 70%;
        text-align: right;
    }

    nav .navWide .wideDiv {
        text-align: right;
    }

    nav .navWide .wideDiv a {
        text-decoration: none;
        display: inline-block;
        /*Adjust padding to increase/decrease the space between links.*/
        margin-right: 2%;
    }

    /*Navbar is set to default with the "hamburger" and links on the left
    side of the screen. To move to the right of the screen, simply
    change the three "float: Left;" references to read "float: right;".*/
    /*nav	.navNarrow i {
        float: left;
        cursor: pointer;
        color: #000;
    }*/
    nav .navNarrow .narrowLinks a {
        text-decoration: none;
        display: block;
        float: center;
        clear: left;
        padding: 0.5em 0;
    }

    .hidden {
        display: none;
    }
}

body {
    font-size: 17px;
    font-family: "Proxima Nova", "Times New Roman", "sans-serif";
    line-height: 150%;
    background-image: url("../images/beerpattern3.jpg");
    background-repeat: repeat;
    margin: 0;
    padding:0;
}

#loadpage{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
}

#loader{
    position: fixed;
    top: 45%;
    left: 45%;
    border: 10px solid #b9b7b6;
    border-top: 10px solid #39373c;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.8s linear infinite;

}

#page {
    position: inherit;
    height: 100vh;
    text-align: center;
    width: 100%;
    min-width: 99%;
}

.content {
    font-family: "Century Gothic", sans-serif;
    background-color: rgba(250, 245, 242, 1);
    width: 80%;
    display: inline-block;
    margin:50px;
    padding: 20px;
    padding-bottom:50px;
    min-height: 70%;
    animation-name: fadein;
    animation-duration: 0.5s;
    border-radius: 10px;

}

.shortcutLinks{
    margin: 0 auto;
    padding-bottom:20px;
    padding-top:0;
    position:relative;
    top:-40px;


}
.shortcutLinks a{
    display:inline;
    margin:10px;
    color: #f59e01;
    text-decoration: none;
    padding-top:0;

}

.shortcutLinks a:visited{
    display:inline;
    margin:10px;
    color: #d47706;
}

h2 {/*
    color: #c9587b;*/
    color: #d47706;
    padding-bottom:20px;

}
h2:after {
    width: 75px;
    display:block;
    margin:0 auto;
    content:' ';

    border:1px solid black;
    position:relative;
    top:5px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 1);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0,1);
}

h3 {/*
    color: #c9587b;*/
    color: #f59e01;
}

#navbar {
    overflow:hidden;
    background: rgba(251, 249, 255, 1);
}

.navt {
    margin: 0;
    padding: 0;
    float:right;

    width:70%;
    text-align: right;

}

.navt li {
    margin-top: 0;
    font-size:100%;
    display: inline;

}

.navt a {
    font-family: "Century Gothic", sans-serif;
    display: inline-block;
    padding: 0 12px;
    color: black;
    text-decoration: double;
    line-height: 350%;
    border-bottom: 5px solid transparent;

}

.navt img {
    vertical-align: middle;
}



.navt a:hover {
    animation-name: scale;
    animation-duration: 0.1s;
    animation-fill-mode:forwards;
    backface-visibility: hidden;
}

.navt a:hover::after{
    position: absolute;
    content: "";
    height: 5px;
    animation-name: hoverline;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    background-color: rgb(195, 141, 26);
    top: 102%;
    left: 0;
    animation-fill-mode: forwards;
}



.logo {
    width: 100px;
    display: inline;
}

.align-left{
    float:left;
}
.align-right{
    float:right;
}

#logoBilde {
    width: 200px;
    height: auto;
}


#developersDiv {
    font-style: italic;
}

#liste {
    list-style-type: none;
    padding: 0;
    font-weight: bold;
}

#bryggeguide {
	width: 800px;
	margin: auto;

}

#problemsList {
    text-align: left;
    margin: auto;
    margin-bottom: 10px;
    width: 25%;
    list-style-type: none;
}


.link {
    position: relative;
    top: -20px;
    font-size: 16px;
}

#headingOne{
    color: #c9587b;
    text-shadow: 1px 1px 1px #d0b08f;
    text-align: center;
}


table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin:0 auto;
    /*
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    position: relative;
    left: 200px;
    top: -550px;*/
}


/*From this guy: https://catalin.red/css3-ordered-list-styles/*/

/*Start rounded list*/
.rounded-list{
    width:80%;
    margin: 0 auto;
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;

    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.rounded-list ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rounded-list li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #eee;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
}

.rounded-list li:hover{
    background: #f59e01;
}

.rounded-list li:hover:before{
    transform: rotate(360deg);
}

.rounded-list li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}
/*End rounded list*/

/*Start section design*/

.sectionDesign{
    width:80%;/*
    outline: gray solid 1px;*/
    background-color:white;
  /*
    text-align:center;*/
    /**/
    margin: 0 auto;
    padding:20px;

    box-shadow: 2px 2px 5px #888888;

}
.sectionDesign p{
    line-height:40px;
}



/*End section design*/


#bildeGalleriH1 {
    padding-top: 0;
    margin-top: 40px;
    text-align: center;
}

@font-face {
    font-family: fancyFont;
    src: url(../fonts/alex-brush/AlexBrush-Regular.ttf);
}
@font-face {
    font-family: fancyFont2;
    src: url(../fonts/allura/Allura-Regular.otf);
}
@font-face {
    font-family: kulFont;
    src: url(../fonts/blackjack/blackjack.otf);
}

h1{
    line-height:50px;
    font-family: "kulFont";
    font-size:300%;
    display:inline;
}

#tittel{
    margin-bottom:50px;
    margin-top:30px;
}

.image {
    width: 150px;
    height: 150px;
    float: left;
    margin: 12px;
    background-size: cover;
    background-position: 50% 50%;
}

.image:hover {
    width: 170px;
    height: 170px;
    margin: 0;
    border: black solid 2px;
    cursor: pointer;
}

#imageContainer {
    margin: auto;
    width: 100vw;
}

div.imageGrid {
    margin-top: 40px;
    margin-right: 30px;
    float: left;
    width: 180px;
}

div.imageGrid img {
    height: 150px;
    width: 150px;
}

div.desc {
    padding: 5px;
    text-align: center;
    height: 250px;
    font-size: small;
}

.imageView {
    display: inline-block;
    width: 180px;
    text-align: center;
}

.imageView a {
    text-decoration: none;
    padding: 8px 16px;
}

.imageView a:hover {
    background-color: #ddd;
    color: black;
}

#prev {
    background-color: #f1f1f1;
    color: black;
    position: relative;
    right: 140px;
    top: 225px;
    display:inline;
}

#next {
    background-color: #4CAF50;
    color: white;
    position: relative;
    left: 150px;
    display:inline;
}

.round {
    border-radius: 50%;
}

#slideshow {
    width:600px;
    height:400px;
}
#slideshowImage{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height:400px;
}



#result {
    visibility: hidden;
    display: inline-block;
    position: relative;
    left: 150px;
    top: -80px;
}

#alkoholAvsnitt {

    position: relative;
    margin:0 auto;
}

#tableAvsnitt {
    position: relative;
    top: 10%;
    height: 100%;
}

#cover {
    position: fixed;
    top: 30%;
    left: 25%;
    width: 50%;
    height: 50%;
    z-index: 10;
    display: none;
}

#overlay-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 5;
    display: none;
}

.bryggelaugImg {
    width: 150px;

}

.bryggelaugImg:hover {
    cursor: pointer;
}

.bryggelaugDiv {
    margin-bottom: 20px;
    text-align: left;

}

.coverImg {
    width: 200px;
    position: absolute;
    left: 3px;
    top: 4px;
}

#cover {
    background-color: lightgrey;
}

#ulBryggelaug{
    position: absolute;
    left: 180px;
    list-style: none;
    overflow: hidden;
}

#infoDiv {
    position: absolute;
    left: 210px;
}

#contactDiv {
    position: absolute;
    left: -200px;
}

#bryggelaugHeader {


}


/*Ølbildet som er øverst til venstre som man kan trykke på*/
/*Start Øl teller */
#oel{
    font-size: 120%;
    font-family: "Arial" ,Garamond, sans-serif;
    color: #39373c;/*
    text-shadow: rgba(238, 238, 0, 0.39) 0 1px 5px, #75603a 1px 1px 5px;*/
    position: relative;
    float:left;
    left:150px;
    margin: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display:inline;
    line-height:300%;
}

#oel::after{
    position: relative;
    content: "(dette semesteret)";
    font-size: 60%;
    text-align: center;
    top: 17px;
    right: 33%;
    font-family: inherit;
}

#oelbilde{
    position: relative;
    float:left;
    height:60px;
    width:60px;

    top:0px;
    left:0px;
    display: block;
    z-index:1;
}
#oelbildeempty{
    float:left;
    height:60px;
    width:60px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    z-index:0;

}

#oelbildeclipping{
    float:left;
    height:60px;
    width:60px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index:2;
    overflow:hidden;

}


/*Prevent blue outline on the beer when clicking on it*/
:focus {
    outline: none !important;
}

/*End øl css*/

#footer{
    margin-top:50px;
    height: 100px;

    clear: both;

    display:block;

    position: relative;
    background-color: #f59e01;

}

    /* .push must be the same height as .footer */



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes scale {
    from{ transform: scale(1); }
    to { transform: scale(1.05); }
}

@keyframes hoverline {
    from{
        width: 0;
        margin-left: 50%;
    }
    to{
        width: 100%;
        margin-left: 0;
    }
}

