#page:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 5px solid #ffea00;
}
#developersDiv{
    font-style: italic;
}

#liste {
    list-style-type: none;
    padding: 0;
    font-weight: bold;

}

body {
    font-size: 17px;
    font-family: "Proxima Nova", "Times New Roman", "sans-serif";
    line-height: 150%;
    background-image: url("beerpattern3.jpg");
    background-repeat: repeat;
}

#problemsList {
    text-align: left;
    margin: auto;
    margin-bottom: 10px;
    width: 25%;
    list-style-type: none;
}
#logoBilde{
    width:200px;
    height:auto;
}

.link{
    position:relative;
    top:-20px;

    font-size:16px;

}

p {
    margin: auto;
    width: 600px;
}

#page {
    position:relative;
    margin: auto;
    width: 800px;
    text-align: center;
    padding: 5px;
}

.shortcutLinks a{
    margin-left:10px;
}

.double-border {
    background-color: #ffffff;
    border: 2px solid black;
    padding: 2em;
    width: 800px;
    height: auto;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}

.double-border:before {
    background: none;
    border: 8px solid #aeccca;
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    pointer-events: none;
}
#headingOne,h2 {
    color: #c9587b;
    text-shadow: 1px 1px 1px #d0b08f;
    text-align: center;



}


h2{
    font-size:30px;
}
#headingOne{
    position:relative;
    top:-20px;
}
hr{
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
#innholdListe {
    padding: 0;
    text-align: center;
}
#innholdListe>li {
    list-style-type: none;
    font-weight: bold;
}
#innholdListe>li>p {
    font-weight: 100;
    text-align: center;
}
#spesielleKrav{
    text-align:center;
}
a {
    color: #c9587b;
    text-decoration: none;
}
a:hover {
    font-size: 102%;
    color: #b45569;

}
table, td, th, tr {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}



.sectionDesign {
    width: 90%;
    background-color: white;
    margin: 10px auto;
    padding: 20px;
    text-align: left;
    box-shadow: 2px 2px 5px #888888;
}

*{
    line-height:40px;
}

p{
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
}


/*LIST STYLING FROM THIS WEBSITE */

/*From this website: https://designshack.net/articles/css/5-simple-and-practical-css-list-styles-you-can-copy-and-paste/*/


ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;

    text-decoration: none;
    color: #000;
    display: block;
    width: auto;
    margin:0 auto;
    line-height: 40px;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    position:relative;
    width:90%;
    left:2%;
}

ol li ol li {position:relative;left:5%;}


ol li:last-child {
    border: none;
}


ol li:hover {
    font-size: 21px;
    background: #f6f6f6;
}

/*END LIST STYLING*/