/*
FILE NAME: style.css
WRITTEN BY: Sander Bjerklund Lindberg, Filip Østervold Tangen, Marcus Tiedemann Økland Henriksbø, Peder Lexau
WHEN: November 2017
PURPOSE: Style the page and make it functional
 */

* {
    outline:1px solid orange;
}

#developersDiv {
    font-style: italic;
}

#liste {
    list-style-type: none;
    padding: 0;
    font-weight: bold;
}

#bryggeguide {
	width: 800px;
	margin: auto;

}

#problemsList {
    text-align: left;
    margin: auto;
    margin-bottom: 10px;
    width: 25%;
    list-style-type: none;
}

#logoBilde {
    width: 200px;
    height: auto;
}

.link {
    position: relative;
    top: -20px;
    font-size: 16px;
}

#page {
    position: inherit;
    height: 100vh;
    text-align: center;
    width: 100%;
    min-width: 99%;
}

#headingOne{
    color: #c9587b;
    text-shadow: 1px 1px 1px #d0b08f;
    text-align: center;
}

h2 {
    color: #c9587b;
}

.navt a:hover {
    animation-name: scale;
    animation-duration: 0.1s;
    animation-fill-mode:forwards;
    backface-visibility: hidden;
}

.navt a:hover::after{
    position: absolute;
    content: "";
    height: 5px;
    animation-name: hoverline;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    background-color: rgb(195, 141, 26);
    top: 102%;
    left: 0;
    animation-fill-mode: forwards;
}


table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    position: relative;
    left: 200px;
    top: -550px;
}

#navbar {
    overflow:hidden;
    background: rgba(251, 249, 255, 1);

}

.navt {
    margin: 0;
    padding: 0;
    float:right;
    width:70%;
    text-align: right;
}

.navt li {
    margin-top: 0;
    font-size:100%;
    display: inline;
}

.navt a {
    font-family: "Century Gothic", sans-serif;
    display: inline-block;
    padding: 0 12px;
    color: black;
    text-decoration: double;
    line-height: 350%;
    border-bottom: 5px solid transparent;
}

.navt img {
    vertical-align: middle;
}

body {
    font-size: 17px;
    font-family: "Proxima Nova", "Times New Roman", "sans-serif";
    line-height: 150%;
    background-image: url("../images/beerpattern3.jpg");
    background-repeat: repeat;
    margin: 0;
    padding:0;

}

.bryggeSection{
    width:80%;/*
    text-align:center;*/
    /**/
    margin: 0 auto;

}

.content {
    font-family: "Century Gothic", sans-serif;
    background-color: rgba(250, 245, 242, 0.89);
    width: 80%;
    display: inline-block;
    margin-top:50px;
    padding: 10px;
    min-height: 70%;
    padding-bottom: 5%;
    animation-name: fadein;
    animation-duration: 1s;
    border-radius: 10px;
}

#bildeGalleriH1 {
    padding-top: 0;
    margin-top: 40px;
    text-align: center;
}

@font-face {
    font-family: fancyFont;
    src: url(../fonts/alex-brush/AlexBrush-Regular.ttf);
}
@font-face {
    font-family: fancyFont2;
    src: url(../fonts/allura/Allura-Regular.otf);
}
@font-face {
    font-family: kulFont;
    src: url(../fonts/blackjack/blackjack.otf);
}

h1{
    line-height:50px;
    font-family: kulFont;
    font-size:300%;
    display:inline;
}

#tittel{
    margin-bottom:50px;
    margin-top:30px;
}


.logo {

    width: 100px;
    display: inline;
}
.align-left{
    float:left;
}
.align-right{
    float:right;
}


.image {
    width: 150px;
    height: 150px;
    float: left;
    margin: 12px;
    background-size: cover;
    background-position: 50% 50%;
}

.image:hover {
    width: 170px;
    height: 170px;
    margin: 0;
    border: black solid 2px;
    cursor: pointer;
}

#imageContainer {
    margin: auto;
    width: 100vw;
}

div.imageGrid {
    margin-top: 40px;
    margin-right: 30px;
    float: left;
    width: 180px;
}

div.imageGrid img {
    height: 150px;
    width: 150px;
}

div.desc {
    padding: 5px;
    text-align: center;
    height: 250px;
    font-size: small;
}

.imageView {
    display: inline-block;
    width: 180px;
    text-align: center;
}

.imageView a {
    text-decoration: none;
    padding: 8px 16px;
}

.imageView a:hover {
    background-color: #ddd;
    color: black;
}

#prev {
    background-color: #f1f1f1;
    color: black;
    position: relative;
    right: 140px;
    top: 225px;
    display:inline;
}

#next {
    background-color: #4CAF50;
    color: white;
    position: relative;
    left: 150px;
    display:inline;
}

.round {
    border-radius: 50%;
}

#slideshow {

    width:600px;
    height:400px;




}
#slideshowImage{
    width: auto;
    height: auto;
    max-width: 100%; height: auto
    max-height:400px;
}

#calculator {
    text-align: left;
}

#result {
    visibility: hidden;
    display: inline-block;
    position: relative;
    left: 150px;
    top: -80px;
}

#alkoholAvsnitt {
    width: 400px;
    position: relative;
}

#tableAvsnitt {
    position: relative;
    top: 10%;
    height: 100%;
}

#oel{
    font-size: 120%;
    font-family: "Arial" ,Garamond, sans-serif;
    color: #39373c;/*
    text-shadow: rgba(238, 238, 0, 0.39) 0 1px 5px, #75603a 1px 1px 5px;*/
    position: relative;
    float:left;


    margin: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display:inline;
    line-height:300%;

}

#oel::after{
    position: relative;
    content: " dette semesteret";
    font-size: 50%;
    text-align: center;
    top: 20px;
    right: 32%;
    font-family: inherit;
}



#cover {
    position: fixed;
    top: 30%;
    left: 25%;
    width: 50%;
    height: 50%;
    z-index: 10;
    display: none;
}
#overlay-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 5;
    display: none;
}

.bryggelaugImg {
    width: 150px;
}

.bryggelaugImg:hover {
    cursor: pointer;
}

.bryggelaugDiv {
    margin-bottom: 20px;
    text-align: left;
}

.coverImg {
    width: 200px;
    position: absolute;
    left: 3px;
    top: 4px;
}

#cover {
    background-color: lightgrey;
}

#ulBryggelaug{
    position: absolute;
    left: 180px;
    list-style: none;
    overflow: hidden;
}

#infoDiv {
    position: absolute;
    left: 210px;
}

#contactDiv {
    position: absolute;
    left: -200px;
}

#bryggelaugHeader {

}

#oelbilde{
    position: relative;
    float:left;
    height:60px;
    width:60px;


}


@keyframes kuul {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scale {
    from{
        transform: scale(1);

    }
    to {
        transform: scale(1.05);

    }
}

@keyframes hoverline {
    from{
        width: 0;
        margin-left: 50%;

    }
    to{
        width: 100%;
        margin-left: 0;
    }
}

